@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Lobster&family=Source+Code+Pro:wght@500&display=swap");
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
=============== 
Navbar
===============
*/
nav {
  position: sticky;
  top: 0;
  z-index: 10000;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: darkgrey;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}
.nav-toggle:hover {
  color: #eccdc7;
  transform: rotate(90deg);
}
.nav-logo {
  height: 40px;
  font-size: 28px;
  color: #faa;
  font-family: "Orbitron", sans-serif;
  padding: 5px;
  border-radius: 5px;
}

/* .links li {
  position: relative; 
}  */

.links li a {
  position: relative;
  /* color: #f6f6f6; */
  /* color:black; */
  /* color:#f6f6f6b0; */
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: 0.3s;
  padding-bottom: 10px;
}
.links li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffafaf;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.links li a:hover::after {
  width: 100%;
  left: 0;
  text-decoration: none;
  cursor: pointer;
}

.nav-menu-items li a {
  position: relative;
  text-decoration: none;
  padding-bottom: 6px;
}
.nav-menu-items li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffafaf;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-menu-items li a:hover::after {
  width: 100%;
  left: 0;
  text-decoration: none;
  cursor: pointer;
}

.links-controller {
  width: 25%;
  position: relative;
}
.nav-icons {
  color: rgb(70, 66, 66);
}
.nav-icons ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: baseline;
}

.nav-icon {
  position: relative;
  margin-left: 1rem;
  font-size: 16px;
}

.nav-icon:hover {
  cursor: pointer;
  color: #ffdbc5;
}
.nav-icons li span {
  position: absolute;
  top: -10px;
  margin: 0 5px 0 3px;
  color: #faa;
}

.nav-icon-login {
  font-size: 16px;
}

.user-profile {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-image: url("https://djsf-server.herokuapp.com/images/uploads/default.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
.user-profile:hover {
  cursor: pointer;
  border: 1px solid #fde3de;
}

.links-controller .user-control {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 10px;
  background-color: rgb(240, 239, 234);
  width: 30%;
  align-items: center;
  right: -90px;
  transition: 5s;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  z-index: 1000;
}

.slide {
  width: 80%;
  background-color: #f7eae8;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}
.slide a {
  position: relative;
  font-size: 1rem;
  color: var(--clr-grey-3);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: 0.3s;
  padding: 10px;
}
.slide a:hover {
  background: #fde3de;
  padding-left: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.slide p {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  padding: 10px;
  display: block;
  transition: 0.3s;
}
.slide button:hover {
  background: #fde3de;
  padding-left: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.slide.active {
  left: 0;
  transition: 350ms;
}
.userController {
  width: 120px;
  height: 8vh;
  background-color: #fde5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60px;
  right: -100%;
  /* padding: 5px; */
  transition: 350ms;
}
.userController.active {
  right: 0;
  transition: 350ms;
  margin-right: 140px;
}
.userController li {
  margin-bottom: 10px;
  padding: 5px;
}
.userController li a:hover {
  cursor: pointer;
}
.sideNavbar {
  width: 250px;
  height: 58vh;
  background-color: #f7eae8;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 90px;
  /* right: -100%; */
  transition: 350ms;
  padding-right: 10px;
  padding-left: 5px;
  border-radius: 15px;
  overflow: hidden;
  visibility: hidden;
  transition: 250ms;
  opacity: 0;
}

.sideNavbar.active {
  top: 75px;
  transition: 350ms;
  visibility: visible;
  opacity: 1;
}

.side-bar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: black;
}
.side-bar-profile span {
  color: darkgray;
  font-size: 13px;
}
.side-bar-user {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.nav-text {
  padding: 8px 0px 8px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.nav-text a:hover {
  cursor: pointer;
}
.user-info {
  font-size: 18px;
}
.user-info-stylize {
  text-transform: capitalize;
}
.logout-button button {
  border: none;
  font-size: 18px;
  padding-bottom: 6px;
  font-family: "Source Code Pro", monospace;
  background-color: #f7eae8;
  position: relative;
}
.logout-button button:hover {
  cursor: pointer;
}
.logout-button button::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffafaf;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.logout-button button:hover::after {
  width: 100%;
  left: 0;
  text-decoration: none;
  cursor: pointer;
}
.sideNavClose span {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
  left: 10px;
}

.sideNavClose span:hover {
  color: white;
}
.logout {
  margin-left: 10px;
}
@media (max-width: 800px) {
  .searchSpace {
    display: none;
  }
  .links-container {
    background-color: rgb(240, 239, 234);
  }
  .links-controller .user-control {
    width: 100%;
  }
  .nav-icons {
    display: none;
  }
  .sideNavbar {
    display: none;
  }
}
@media (min-width: 800px) {
  .nav-container {
    width: 100%;
    display: flex;
    align-items: baseline;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  .nav-container.active {
    background-color: #f7eae8;
    opacity: 0.9;
  }
  .nav-container.active .nav-center li a {
    color: black;
  }
  .slide {
    display: none;
  }
  .searchSpace {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    width: 0px;
    transition: 0.4s;
    color: black;
    font-size: 16px;
    height: 25px;
  }
  .nav-icon-search {
    background-color: rgb(70, 66, 66);
    height: 40px;
  }
  .nav-icon:hover > .searchSpace {
    width: 170px;
    height: 20px;
    border: 1px solid #fde3de;
    border-radius: 5px;
    background-color: white;
    font-family: "vioda libre", serif;
    outline: none;
    margin: 2px;
    padding: 10px;
  }

  /* .nav-icon-login {
    display: flex;
    position: relative;
  } */

  .nav-center {
    max-width: 100%;
    margin: 0 0 0 50px;
    display: flex;
    align-items: baseline;
    padding: 6px;
    flex: 2;
  }

  .nav-toggle {
    display: none;
  }
  .nav-logo {
    height: 40px;
    border-radius: 5px;
  }
  .links-container {
    height: auto !important;
    height: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .links {
    display: flex;
    position: relative;
  }
  .links a {
    margin-right: 25px;
    margin-left: 25px;
    display: inline;
    overflow: hidden;
    text-decoration: none;
  }
}
