.scrollDown{
position:absolute;
bottom: 10px;
left: 50%;
height: 40px;
width: 40px;
/* background: #fff; */
transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrollDown span{
position: absolute;
top: 0;
left:0;
display: block;
width: 100%;
height: 100%;
border-bottom:10px solid #fff;
border-right: 10px solid #fff;
animation: animate 1.5s linear infinite;
/* box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%); */
}
.scrollDown span:nth-child(1){
    transform: translate(-15px , -15px);
    animation-delay: -0.4s;

}
.scrollDown span:nth-child(2){
    transform: translate(0 , 0);
    animation-delay: -0.2s;

    
    }
.scrollDown span:nth-child(3){
        transform: translate(15px , 15px);
        animation-delay: 0s;

        
        }
@keyframes animate {
    0%{
        top:-5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top:0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top:5px;
        left: 5px;
        opacity: 0;
    }
}